*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100%;
    height: 600px;
    border-top: solid 0.5px white;
    border-bottom: solid 0.3px white;
}
body{
    background-color: black;
}
form{
    margin-top: 50px;
}
