*{
    margin:0;
    padding:0;
}
.container{
    margin: 0;
    padding: 0;
}
h3{
    text-align: center;
}
h4{
    text-align: center;

}
.texto{
    text-align: center;

}
.col{
    font-size: 20px;
}
.pie{

height: 200px;
}
#papagayo{
    width:500px;
}
