*{
    margin: 0;
    padding: 0;
}

#perfiles{
    margin-top: 20px;
    width: 1170px;
    height: 1000px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    margin-left: 150px;
    border-radius: 5px;
    overflow: hidden;
 }

img{
    width: 180px;
    height: 250px;  
}
#contenedor{
    width: 80%;
    margin-top: 4%;
    margin-bottom: 4%;
    color: pink;
    font-size: x-large;  
}
h1{
    font-size: 50px;
}
.btn{
    background-color: pink;

}

#texto{
    height: 100px;
    width: 500px;
    margin-top: 80%;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    margin-left: 450px;
    font-size: 50px;
    text-align: center;
}
.navbar{
    border-bottom: 0.5px solid white;
}